<% provide(:title, "Login") %>
<div class="top-image1" id="contents">
    <div class="container pt-5">
        <div class="jumbotron p-2">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <h1 class="text-center">Login</h1>
                    <%= form_for(:session, url: sessions_path) do |f| %>
                        <%= f.label :email %>
                        <%= f.text_field :email, class: "form-control" %>

                        <%= f.label :password %>
                        <%= f.password_field :password, class: "form-control" %>

                        <%= f.submit "Login", class: "btn btn-block btn-success py-2 mt-4 "%>
                    <% end %>
                    <%= link_to "Guest user", guest_path, method: :post, class: "btn btn-block btn-warning py-2 mt-4"%>
                    <p>New here? <%= link_to "Sign up now!", signup_path %></p>
                </div>
            </div>
        </div>
    </div>
</div>