<%= link_to gravatar_for(current_user, size: 52), current_user %>
<h1>
    <%= current_user.name %>
</h1>
<span>
    <%= link_to "view my profile", current_user, class: "text-center" %>
</span>

<% @user ||= current_user %>
<div class="stats">
    <a href="<%= following_user_path(@user) %>">
        <strong id="following" class="stat">
            <%= @user.followed_users.count %>
        </strong>
        following
    </a>
    <a href="<%= followers_user_path(@user) %>">
        <strong id="followers" class="stat">
            <%= @user.followers.count %>
        </strong>
        followers
    </a>
</div>