<div class="top-image2" id="contents">
<div class="container pt-5">
    <div class="container container-small">
	    <div class="panel">
		    <div class="panel-heading">
			    <div class="row">
				    <div class="col-sm-6">
					    <span><strong>Admin Word Show Page</strong></span>
				    </div>
				    <div class="col-sm-6 text-right">
                        <%= link_to "ADD WORD", new_admin_category_word_path(@category), class: "btn btn-success py-2" %>
					    <a href="<%= admin_categories_path %>">BACK</a>
				    </div>
			    </div>
		    </div>
		    <table class="table category-table">
			    <tbody>
				    <tr>
                        <th>Word</th>
                        <th>Answer</th>
                        <th>Action</th>
				    </tr>
                    <% @words.each do |word| %>
                    <tr>
                        <th><%= word.word %></th>
                        <% word.choices.each do |choice|%>
                            <% if choice.correct_ans == true %>
                                <th><%= choice.choices %></th>
                            <% end %>
                        <% end %>
                        <th><a class="btn btn-warning px-1" href="<%= edit_admin_category_word_path(@category,word) %>">Edit</a>
                            <%= link_to "Delete", admin_category_word_path(@category,word), method: :delete,
                                      data: { confirm: "You sure?" } %>     
                        </th>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
