<nav class="navbar navbar-expand-lg navbar-white bg-info py-4">
<%# <a class="navbar-brand" href="#">Navbar</a> %>
    <div class="container">
        <%= link_to "E-learning", root_path, class: "navbar-brand text-white" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <% if logged_in? %>
                    <% if current_user.admin? %>
                        <li class="nav-item">
                            <%= link_to "Manage Categories", admin_categories_path, class: "nav-link text-white"%>
                        </li>
                    <% end %>
                    <li class="nav-item">
                        <%= link_to "Members", users_path, class: "nav-link text-white"%>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Setting", edit_user_path(current_user), class: "nav-link text-white" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Logout", logout_path, method: :delete, class: "nav-link text-white" %>
                    </li>
                <% else %>
                    <li class="nav-item active">
                        <%# <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> %>
                        <%= link_to "Home", root_path, class: "nav-link text-white" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "About", about_path, class: "nav-link text-white" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Contact", contact_path, class: "nav-link text-white" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Sign Up", signup_path, class: "nav-link text-white" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Login", login_path, class: "nav-link text-white" %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
