<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/df2566cb1e.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
        <title><%= yield(:title) %> | Yasu-elearning</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <%= render 'layouts/header' %>
        <% if flash.notice.present? %>
            <div class="alert alert-success"><%= flash.notice %></div>
        <% end %>
            <%= yield %>
    </body>
</html>
